@model IEnumerable<Student>
@{
    Layout = "~/views/shared/_layout2.cshtml";
    ViewBag.Title = "Student List";
}



    <a asp-action="create" asp-controller="student" class="btn btn-success">Create</a>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Department</th>
                <th>Operation</th>
            </tr>
        </thead>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Age</td>
                <td>@item.Department?.Name</td>
                <td>
                <a asp-action="details" asp-controller="student" asp-route-id="@item.Id" class="btn btn-info">Datails</a>

                <a asp-action="edit" asp-controller="student" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>

                <a asp-action="delete" asp-controller="student" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
            </tr>
        }
    </table>

